body{
    background-image: url(/ciel-nuages-fond-ville-dans-style-plat/background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    text-decoration: solid;
    color: rgb(59, 70, 69);
}
h1{
    text-align: center;
    margin-bottom: 50px;
}
h1 a{
    text-decoration: none;
    color: rgb(90, 119, 116);
}
p, li{
    font-weight: bold;
}