body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    background-color: #fff;
}
ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
li a{
    text-decoration: none;
}
li:nth-child(1){
    font-family: 'Courgette', cursive;
    font-size: 50px;
}
li:nth-child(2){
    margin-left: 600px;

}
li:nth-child(3){
    margin-right: 100px;
}

.search_city{
    float: right;
}





@media screen and (max-width: 740px){
    ul{
        margin: 0px;
        padding: 0px;
        display: block;
    }
    li{
        display: block;
    }
    li:nth-child(1){
        font-size: 30px;
        text-align: center;
    }
    li:nth-child(2){
        margin-left: 0px;
        text-align: center;
        float: right;
        padding-right: 60px;
        
    }
    li:nth-child(3){
        float: right;
        text-align: center;
        padding-right: 150px;
    }
}